@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.purple-textbox
{
    @apply rounded-lg border-transparent appearance-none border
    border-gray-300 py-2 px-3 bg-white text-zinc-700 font-semibold
    placeholder-gray-400 shadow-md text-base focus:outline-none
    focus:ring-2 focus:ring-purple-500 focus:border-transparent;
}

.purple-textbox-no-rounded
{
    @apply border-transparent appearance-none border
    border-gray-300 py-2 px-3 bg-white text-zinc-700 font-semibold
    placeholder-gray-400 text-base focus:outline-none
    focus:ring-2 focus:ring-purple-500 focus:border-transparent;
}

.gray-textbox
{
    @apply border-transparent appearance-none border
    border-gray-300 py-2 px-3 bg-white text-gray-800
    placeholder-gray-400 text-base focus:outline-none
    focus:ring-2 focus:ring-gray-500 focus:border-transparent;
}


.red-textbox
{
    @apply rounded-lg border-transparent appearance-none border
    border-red-300 py-2 px-3 bg-white text-red-800
    placeholder-red-400 shadow-md text-base focus:outline-none
    focus:ring-2 focus:ring-red-500 focus:border-transparent;
}

.gray-label
{
    @apply pt-3 text-gray-500;
}

.error-label
{
    @apply py-2 px-4 text-red-500 text-sm;
}

.search-box
{
    @apply py-2 px-4 w-full pl-10 pr-2
    rounded-lg border-transparent appearance-none border
    border-gray-300 bg-white text-zinc-700 font-semibold
    placeholder-gray-400 shadow-md focus:outline-none
    focus:ring-2 focus:ring-purple-500 focus:border-transparent;
}
